<div class ="items">
<% if @items.length > 0 %>
    <% @items.each do |item| %>
            <div class="item-div">
            
                <p><%= image_tag @item.picture, classs: "img-thumbnail box", width: 120 if @item.picture.attached?%>
                <p><%= link_to item.name, item_path(item) %></p>
                <p><%= number_to_currency(item.price)%></p>

            
            </div>
    <%end%>
<%else%>
<p>Currently no items!</p>
<%end%>
</div>