<h2>Items</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Colour</th>
        <th>Price</th>
        </tr>
    <% @item.each do | item | %>
    <tr>
        <td><%= "#{item.name} #{item.category} #{item.colour} #{item.price}"%></td>
                
    </tr>
    <% end %>
</table>
